# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv("../output_data/cities.csv")
weather_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,lensk,60.73,114.93,74.48,53,100,2.08,RU,1593607131
1,1,jamestown,42.10,-79.24,69.01,88,75,6.93,US,1593606990
2,2,omboue,-1.57,9.26,77.65,73,100,10.65,GA,1593607131
3,3,pyapon,16.28,95.68,80.02,84,100,11.86,MM,1593607131
4,4,port alfred,-33.59,26.89,80.01,28,0,5.99,ZA,1593607132
...,...,...,...,...,...,...,...,...,...,...
560,560,kwekwe,-18.93,29.81,71.22,29,0,9.78,ZW,1593607228
561,561,faanui,-16.48,-151.75,79.02,74,80,21.61,PF,1593607228
562,562,radzyn podlaski,51.78,22.62,78.80,47,0,11.41,PL,1593607229
563,563,shimanovsk,52.00,127.70,71.55,54,94,5.50,RU,1593607229
564,564,san jeronimo,-11.95,-75.28,47.86,56,0,1.12,PE,1593607229

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_df[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_df["Humidity"]

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure