### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
len(purchase_data["SN"].unique())
total_players = len(purchase_data["SN"].unique())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
Item_ID = len(purchase_data["Item ID"].unique())
Avg_Price = round(purchase_data["Price"].mean(),2)
Num_Purchases = len(purchase_data["Purchase ID"])
Total_Revenue = sum(purchase_data["Price"])
PA_Total = pd.DataFrame({"Number of Unique Items":[Item_ID], "Average Price":[Avg_Price],
                        "Number of Purchases":[Num_Purchases], "Total Revenue":[Total_Revenue]})
PA_Total

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
male_players = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_SNs = male_players["SN"].unique()
female_players = purchase_data.loc[purchase_data["Gender"] == "Female"]
female_SNs = female_players["SN"].unique()
other_nd = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_SNs = other_nd["SN"].unique()
Total_df = pd.DataFrame({"Total Count":[len(male_SNs), len(female_SNs), len(other_SNs)]})
Total_df["Percentage of Players"] = Total_df["Total Count"] / total_players
Total_df

   Total Count  Percentage of Players
0          484               0.840278
1           81               0.140625
2           11               0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
male_player_purchases = len(male_players["Purchase ID"])
female_player_purchases = len(female_players["Purchase ID"])
other_player_purchases = len(other_nd["Purchase ID"])
male_avg_price = round(male_players["Price"].mean(),2)
female_avg_price = round(female_players["Price"].mean(),2)
other_avg_price = round(other_nd["Price"].mean(),2)
male_avg_total = male_player_purchases / len(male_SNs)
female_avg_total = female_player_purchases / len(female_SNs)
other_avg_total = other_player_purchases / len(other_SNs)
male_player_rev = sum(male_players["Price"])
female_player_rev = sum(female_players["Price"])
other_player_rev = sum(other_nd["Price"])
PA_gender_Total = pd.DataFrame({"Average Price":[male_avg_price, female_avg_price, other_avg_price],
                        "Number of Purchases":[male_player_purchases, female_player_purchases, other_player_purchases],
                                "Average Purchase Total":[male_avg_total, female_avg_total, other_avg_total],
                                "Total Revenue":[male_player_rev, female_player_rev, other_player_rev]})
PA_gender_Total.index = ["Male", "Female", "Other"]
PA_gender_Total

,Average Price,Number of Purchases,Average Purchase Total,Total Revenue
Male,3.02,652,1.347107,1967.64
Female,3.20,113,1.395062,361.94
Other,3.35,15,1.363636,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame